<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComposeUIViewControllerConfiguration</key>
	<string>enforce strict compose checking</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Used for receiving sensor data</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Used for receiving sensor data</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires with bluetooth for receiving sensor data</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used with bluetooth to connect and receive data from sensor</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
